@model User

<div style="direction:rtl;padding:20px">
    <h2>@Model.UserName عزیز!</h2>
    <p>با تشکر از ثبت نام شما در تاپ لرن، جهت ادامه کار باید حساب کاربری خود را فعال کنید! </p>
    <p>
        <a href="https://localhost:44341/Account/ActiveAccount/@Model.ActiveCode">فعال سازی حساب کاربری</a>
    </p>
</div>